@model IEnumerable<WorkWithKOTE.Models.DopUslug>
@{
    Layout = null;
}
<div id="options">
    @foreach (var iteam in Model)
    {
      if(iteam.Price != 0) 
      { <div>
            @iteam.Name
            @Html.CheckBox(iteam.Name, new { price = iteam.Price })
        </div>
      }
    }
</div>
    <script type="text/javascript">
        $(function () {
            var sum0 = parseFloat($("#Prices").val());
            var sumFunction = function () {
                var sum = sum0;
                $('#options input[type=checkbox]:checked').each(function (i, v) {
                    sum += parseFloat($(v).attr('price'));
                });
                $("#Prices").val(sum);
            };
            $('#options input[type=checkbox]').click(sumFunction);
        })
    </script>
