@{
    ViewBag.Title = "Payment";
}

<form method="POST" accept-charset="utf-8" action="https://www.liqpay.com/api/checkout">
    <input type="hidden" name="data" value=@ViewBag.Body />
    <input type="hidden" name="signature" value="eJOmtNXHd38GLCtMRdlUopiro+c=" />
    <input type="image" src="//static.liqpay.com/buttons/p1ru.radius.png" name="btn_text" />
</form>
