@model IEnumerable<WorkWithKOTE.Models.DateTour>

@foreach (var item in Model)
{
    <p>
        Дата тура: @Html.DisplayFor(m => item.FirstDate) -
        @Html.DisplayFor(m => item.SecondDate)<br/>
    </p>
} 