@model IEnumerable<WorkWithKOTE.Models.RoutePoint>
    @{int i = 0;}      
@foreach(var iteam in Model)
{
 <input type="hidden" id="item[@i].lat" value="@Html.DisplayFor(m=>iteam.Lat)" />
    <input type="hidden" id="item[@i].lng" value="@Html.DisplayFor(m=>iteam.Lng)" />
    i++;
} 
<div id="map_canvas" style="width: 90%; height: 300px; margin-bottom: 15px; margin-top: 15px"></div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>  
<script type="text/javascript">
    var map;
    var arryLat = [];
    var arryLng = [];
    var arrayMarker = [];
    var PathForPoly = [];
    var poly;
    var g = @i
    function save(){                                                 
        for (var k = 0; k <= g-1; k++) {
            
            arryLat[k] = parseFloat(document.getElementById("item[" + k + "].lat").value);
            arryLng[k] = parseFloat(document.getElementById("item[" + k + "].lng").value);
        }
    }
    save();
    function addMarker() {
    for (var k = 0; k <= arryLat.length ; k++) {
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(arryLat[k], arryLng[k]),
            map: map
        });
        arrayMarker.push(marker);
     }
    }
    $(function () {
        var mapOptions = {
            center: new google.maps.LatLng(arryLat[0], arryLng[0]),
            zoom: 5,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        addMarker();
        for (var k = 0; k <= arryLat.length ; k++) {
             PathForPoly.push( new google.maps.LatLng(arryLat[k], arryLng[k]));
        };
        var lineSymbol = {
            path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW
        }
        var polyOptions = {
            path: PathForPoly,
            strokeColor: '#000000',
            strokeOpacity: 1.0,
            strokeWeight: 3,
            icons: [{
                icon: lineSymbol,
                offset: '10%',
                repeat: '100px'
            }]
        }
        poly = new google.maps.Polyline(polyOptions);
        poly.setMap(map);
    });
</script>                                                   