
<div id="datetour-pannel">
  <div class="datetour">
    <span class="dateText">Введите дату отправки : </span><input class="newDate" type='text' name="DateTour[0].FirstDate" required />
    <span class="dateText">Введите дату приезда  : </span><input class="newDate" type='text' name="DateTour[0].SecondDate" required />
  </div>
</div><br/>

<input type="button" class="addLink date" value=" Добавить дату ">
<input type="button" class="deleteLink date" value="Удалить дату" />


<script >
    var i = 1;
    $(function ()
    {
        $('.addLink').click(function ()
        {
            var html2Add = "<div id='dateTour" + i + "' style='margin-left : 35px;'><br/>" +
                             "Введите дату отправки : "+
                             "<input class='newDate' type='text' name='DateTour[" + i + "].FirstDate' required  />" +
                             "<span style='margin-left: 24px;'>Введите дату приезда : </span>"+
                             "<input class='newDate' type='text' name='DateTour[" + i + "].SecondDate' required  />" +
                           "</div>";
            $('#datetour-pannel').append(html2Add);
            i++;
            $('.newDate').datepicker();
            $('.newDate').mask("99.99.9999");
        });
    });

    $(function ()
    {
        $('.deleteLink').click(function ()
        {
            var count = i - 1;
            $('#dateTour' + count).remove();

            if (i != 1) {
                i--;
            }
        });
    });
</script>