<div id="datetour-pannel">
    <div class="datetour">
    Введите дату отправки(дд/мм/год):<br />
    <input type="text" name="DateTour[0].FirstDate" />
    <br />
    Введите дату приезда (дд/мм/год):<br />
    <input type="text" name="DateTour[0].SecondDate" />
</div>
</div>
<p><a class="addLink">Добавить новый элемент</a></p>
<script >
    $(function () {
        var i = 0;
        $('.addLink').click(function () {
            i++;
            var html2Add = "<div class='dateTour'>" +
         "<h4>Введите Дату" + (i + 1) + "</h4>" +
                 "<input type='text' name='DateTour[" + i + "].FirstDate' /><br/>" +
                 "<h4>Введите Дату" + (i + 1) + "</h4>" +
                 "<input type='text' name='DateTour[" + i + "].SecondDate' />" +
             "</div></div>";
            $('#datetour-pannel').append(html2Add);
        })
    })
</script>