
<div id="datetour-pannel">
    <div class="datetour">
    Введите дату отправки:<br />
    <input type='date' name="DateTour[0].FirstDate" />
    <br />
    Введите дату приезда:<br />
    <input type='date' name="DateTour[0].SecondDate" />
</div>
</div>
<p><input type="button" class="addLink" value=" + ">
<input type="button" class="deleteLink" value="-" /></p>
<script >
    var i = 1;
    $(function () {
        $('.addLink').click(function () {
            var html2Add = "<div id='dateTour" +i+"'>" +
                 " Введите дату отправки" + "(дд/мм/год)" +
                 "<input type='date' name='DateTour[" + i + "].FirstDate' /><br/>" +
                 " Введите дату приезда"+"(дд/мм/год)" +
                 "<input type='date' name='DateTour[" + i + "].SecondDate' />" +
             "</div></div>";
            $('#datetour-pannel').append(html2Add);
            i++
        })
    });
    $(function () {
        $('.deleteLink').click(function () {
            var count = i - 1;
            $('#dateTour' + count).remove();
            if(i != 1)
            i--
        })
    });
</script>