
<div id="datetour-pannel">
    <div class="datetour">
    Введите дату отправки:<br />
    <input type='date' name="DateTour[0].FirstDate" />
    <br />
    Введите дату приезда:<br />
    <input type='date' name="DateTour[0].SecondDate" />
</div>
</div>
<p><a class="addLink">Добавить новый элемент</a></p>
<script >
    $(function () {
        var i = 0;
        $('.addLink').click(function () {
            i++;
            var html2Add = "<div class='dateTour'>" +
                 " Введите дату отправки" + (i + 1) + "(дд/мм/год)"+
                 "<input type='date' name='DateTour[" + i + "].FirstDate' /><br/>" +
                 " Введите дату приезда" + (i + 1) + "(дд/мм/год)"+
                 "<input type='date' name='DateTour[" + i + "].SecondDate' />" +
             "</div></div>";
            $('#datetour-pannel').append(html2Add);
        })
    })
</script>