<div id="map_canvas" style="width:80%; height:500px;margin-left:35px;"></div><br/>
<input type="button" style="margin-left:35px;" value="Убрать маркеры" onclick="DeleteAllPoints()" /><br/><br/>

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>  
    <script type="text/javascript">
        var poly;
        var map;
        var polyOptions;
        var arrayMarker = [];
        initialize();
        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(49.7191, 35.112),
                zoom:5,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
            var lineSymbol = {
                path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW
            }
            polyOptions = {
                strokeColor: '#000000',
                strokeOpacity: 1.0,
                strokeWeight: 3,
                icons: [{
                    icon: lineSymbol,
                    offset: '10%',
                    repeat: '100px'
                }]
            }
            poly = new google.maps.Polyline(polyOptions);
            poly.setMap(map);

            google.maps.event.addListener(map, 'click', addLatLng);
        }
        function addLatLng(event) {
            var path = poly.getPath();
            path.push(event.latLng);
            arrayMarker = poly.getPath();
            var marker = new google.maps.Marker({
                position: event.latLng,
                title: '#' + path.getLength(),
                map: map
       
            });
        }
        function DeleteAllPoints() {
            arrayMarker = [];
            $("#map_canvas").html("");
            initialize();
            poly = new google.maps.Polyline(polyOptions);
            poly.setMap(map);
        }
        function prepareRoutePoints() {
            $.each(arrayMarker, function (i, v) {
                $('#route-points').append(
                    $('<input>').attr({
                        'type': 'hidden',
                        'name': 'RoutePoints[' + i + '].Lat'
                    }).val(arrayMarker.getAt(i).lat())
                ).append(
                    $('<input>').attr({
                        'type': 'hidden',
                        'name': 'RoutePoints[' + i + '].Lng'
                    }).val(arrayMarker.getAt(i).lng())
                );
            });
        }
        if(arrayMarker != null){
        $('form').submit(function () {
            prepareRoutePoints();
        });
        }
    </script>
 