<div id="tag-pannel">
    <div class="teg">
         Тег тура  :
        <input type="text" name="Tag[0].TagName" /><br />
    </div>
</div>
<p>
    <input type="button" class="addTeg" value=" + ">
    <input type="button" class="deleteLinkTag" value="-" />
</p>
<script>
    var l = 1;
    $(function () {
        $('.addTeg').click(function () {
            var html2Addss = "<div class='tag"+ l +"'>" +
          "<h4>Тег тура №" + "</h4>" +
                 "<input type='text' name='Tag[" + l + "].TagName' /><br/>" +
             "</div>";
            $('#tag-pannel').append(html2Addss);
            l++;
        })
    });
    $(function () {
        $('.deleteLinkTag').click(function () {
            var count = l - 1;
            $('.tag' + count).remove();
            if (l != 0)
            l--
        })
    });
</script>