<div id="tag-pannel">
    <div class="teg">
         Тег тура №1 :
        <input type="text" name="Tag[0].TagName" /><br />
    </div>
</div>
<p><a class="addTeg">Добавить новый элемент</a></p>
<script>
    $(function () {
        var i = 0;
        $('.addTeg').click(function () {
            i++;
            var html2Addss = "<div class='tag'>" +
          "<h4>Тег тура №"+ (i + 1) + "</h4>" +
                 "<input type='text' name='Tag[" + i + "].TagName' /><br/>" +
             "</div>";
            $('#tag-pannel').append(html2Addss);
        })
    })
</script>