@{
    ViewBag.Title = "AllNewsBlock";
}
@model List<WorkWithKOTE.Models.News>
<h2>AllNewsBlock</h2>
@foreach(var item in Model)
{
    <h2>@Html.DisplayFor(m => item.NewsTitle)</h2><br />
    @Html.Raw(item.NewsBody)<br />
    @Html.DisplayFor(m => item.NewsDate)<br />
    if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
    {
        <input type="button" value="Удалить новость" onclick="location.href='@Url.Action("NewsDelete", new { id = item.NewsId })'">
    }
    <hr />
}