@{
    ViewBag.Title = "NewsBlock";
}
@model WorkWithKOTE.Models.News

   <h2>@Html.DisplayFor(m => m.NewsTitle)</h2><br />
    @Html.Raw(Model.NewsBody)<br />
    @Html.DisplayFor(m => m.NewsDate)<br />
    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
    {
        <input type="button" value="Удалить новость" onclick="location.href='@Url.Action("NewsDelete", new {id = Model.NewsId })'">
    }
    <hr />