@{
    ViewBag.Title = "NewsBlock";
}
@model List<WorkWithKOTE.Models.News>
<h2>NewsBlock</h2>
@foreach(var item in Model)
{
   @Html.DisplayFor(m => item.NewsTitle)<br/>
    @Html.DisplayFor(m=>item.NewsBody)<br/>
    @Html.DisplayFor(m=>item.NewsDate)<br/>
    <hr />
}