nav, footer, header, section, article, iframe, img {
    display: block;
}
@font-face {
 /*  font-family: HelveticaNeueCyr;
     src: url(fonts/);
     font-weight, font-style ==> по умолчанию normal */
}
header {
    position: fixed;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    clear: none;
    width: 100%;
    z-index: 200;
    font-family: HelveticaNeueCyr;
}

#bar {
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
    padding-bottom: 31px;
}

#small-logo {
    opacity: 0;
    filter: alpha(opacity=0);
    float: left;
    margin: 15px;
    margin-left: 15%;
}

nav {
    display: inline-block;
    font-size: 1em;
    text-align: center;
    font-weight: 300;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    text-decoration: none;
    z-index: 324;
    margin-top: 40px;
    clear: none;
}

    nav a {
        margin-left: 25px;
        padding-bottom: 44px;
    }

        nav a:hover {
            padding-bottom: 41px;
            border-bottom: 3px solid rgba(255, 255, 255, 0.5);
        }

.nav-other {
    display: inline-block;
    font-size: 1em;
    text-align: center;
    font-weight: 300;
    line-height: 1em;
    color: #121212 !important;
    font-style: normal;
    text-decoration: none;
    z-index: 324;
    margin-top: 40px;
    clear: none;
}

    .nav-other a {
        margin-left: 25px;
        padding-bottom: 44px;
    }

        .nav-other a:hover {
            padding-bottom: 41px;
            border-bottom: 3px solid #acacac;
        }

#second-navigation {
    text-transform: capitalize;
    display: none;
    top: 50px;
    padding: 10px;
    border-top: 1px solid #ffffff;
    background-color: rgba(0,0,0,0.6);
}

.separator {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.profile {
    display: inline-block;
    vertical-align: middle;
}

.user {
    display: table-cell;
}

#user {
    float: left;
    margin-right: 10px;
}

#username {
    font-size: 0.875em;
    text-align: center;
    font-weight: 300;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    text-decoration: none;
    clear: none;
}

#Searching {
    display: inline-block;
    z-index: 32;
    clear: both;
}

#top-shadow {
    max-width: 100%;
    margin: auto;
    right: 0;
    left: 0;
    clear: both;
}

.cont {
    margin: 0 auto;
    padding-top: 40px;
    width: 80%;
   /* min-width: 930px;*/
}

footer {
    height: 244px;
    color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    background-image: url("img/footer-bg.jpg");
    -webkit-background-size: 100%;
    font-family: HelveticaNeueCyr;
}

#column1 {
    float: left;
    height: auto;
    width: 33%;
}

#about {
    margin-left: 19%;
    float: left;
    font-size: 0.75em;
    text-align: left;
    font-weight: 300;
    line-height: 16px;
    color: rgb(153, 153, 153);
    text-decoration: none;
    font-family: HelveticaNeueCyr;
    top: 0;
    left: 0;
    clear: none;
    margin-right: 0;
}

#column2 {
    float: left;
    height: auto;
    margin-left: 5%;
    width: 36%;
}

#footer-nav {
    float: left;
    width: 100%;
    height: auto;
    text-align: left;
    line-height: 1em;
    top: 0;
    left: 0;
    z-index: 24;
    margin: 0;
    clear: none;
}

    #footer-nav a {
        float: left;
        text-decoration: none;
        width: 25%;
        color: rgb(255, 111, 64);
        font-size: 0.875em;
        font-weight: bold;
    }

#address {
    float: left;
    font-size: 0.875em;
    color: rgb(254, 254, 254);
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.5em;
    top: 0;
    left: 0;
    z-index: 22;
    margin-top: 41px;
    clear: both;
    margin-right: 0;
}

#follow-us {
    float: left;
    width: 100%;
    font-size: 0.875em;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    color: rgb(255, 255, 255);
    margin-top: 29px;
    clear: none;
    margin-right: 0;
}

    #follow-us p {
        float: left;
    }

    #follow-us img {
        margin-top: -8px;
    }

.image-icons {
    float: left;
    max-width: 100%;
    margin-left: 3%;
    clear: none;
    margin-right: 0;
}

#column3 {
    float: left;
    height: auto;
    /*margin-left: 10%;*/
    width: 15%;
}

#contacts {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0.06%;
    clear: none;
    margin-right: 0;
}

    #contacts h5 {
        margin-top: 0;
        font-weight: lighter;
        font-size: 1.125em;
        margin-bottom: 0.7em;
        color: rgb(254, 254, 254);
    }

.mail {
    font-size: 15px;
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.phone {
    font-size: 0.875em;
    color: rgb(255, 255, 255);
}

.phone-code {
    color: rgb(255, 111, 64);
}

#copy-bg {
    float: left;
    background-color: rgb(12, 12, 12);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    font-family: HelveticaNeueCyr;
}

#copyrighter {
    font-size: 1em;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    top: 0;
    left: 0;
    margin: 8px auto;
    clear: none;
}

#copyright {
    float: none;
    font-size: 0.75em;
    line-height: 14px;
    color: rgb(153, 153, 153);
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
}

#copyright-site {
    font-size: 0.75em;
    line-height: 14px;
    color: rgb(255, 111, 64);
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
}

#rights {
    font-size: 0.75em;
    line-height: 14px;
    color: rgb(153, 153, 153);
    font-weight: 300;
    text-decoration: none;
}

.button,
.button:hover, .button:focus,
.button:visited, .button:active {
    background-color: #ff6f40;
    color: #ffffff;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    /*padding: 0.875% 3%;
    float: left;*/
    display: inline-block;
}

#user_name {
    cursor: pointer;
    background: no-repeat;
    background-image: url("/Content/img/user-black.png");
    padding-right: 3px;
    padding-left: 25px;
}

.user_links {
    color: white !important;
    cursor: pointer;
    display: block;
    padding-top: 10px;
    float: inherit;
    display: block;
    margin-left: 25px;
    font-size: 18px;
    width: 40px !important;
    font-weight: 300;
}

.user_links_e {
    color: white !important;
    cursor: pointer;
    display: block;
    padding-top: 3px;
    float: inherit;
    display: block;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 300;
    text-decoration: underline;
}

#register {
    width: 84px;
}

#amnesia {
    width: 115px;
}

.hidden {
    display: none;
}

#block_links {
    display: inherit;
    position: absolute;
    margin-left: 10px;
    height: 77px;
    background-color: #121212;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: left;
}

#block_enter {
    display: inherit;
    position: absolute;
    margin-left: 10px;
    width: 219px;
    height: 165px;
    background-color: #121212;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: left;
}

.input_log_in {
    border-radius: 4px;
    height: 30px;
    padding-left: 10px;
    margin-top: 5px;
    margin-left: 9px;
    width: 201px;
    background-color: #424242;
    border: 1px solid #424242;
    color: white;
    font-size: 14px;
}

#enter_button {
    border-radius: 4px;
    height: 30px;
    padding-left: 10px;
    margin-top: 8px;
    margin-left: 9px;
    width: 203px;
    background-color: #ff6f40;
    border: 1px solid #ff6f40;
    color: white;
    font-size: 20px;
}

.date-select {

}

.date-select select {
    padding: 5px 20px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer; 
    font-size: 1.57em;
    font-weight: 300;
}
.date-select.mini select {
    
    font-size: 1em !important;
    font-weight: 100!important;
}
.date-select label{position:relative}
.date-select label:after {
  content: url("img/calendar-dates.png");
    width: 25px;
    height: 25px;
    position:absolute;
    right: -2px;
    top: -15px;
    pointer-events:none;
}
.date-select select:focus {
    outline: none !important;
}

img{
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
}
