
.primaryContainer {
    min-height: 100%;
    position: relative;
    width: 100%;
}

.buttons {
    width: 510px;
    margin: 50px auto 0 auto;
    font-family: georgia;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    font-size: 1.125em;
}

.buttons > a,
.buttons > a:visited, .buttons > a:hover,
.buttons > a:focus, .buttons > a:active{
    color: rgb(255, 255, 255);
}

.yes-btn {
    width: 220px;
    float: left;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.74902) 1px 1px 2px;
    padding: 15px;
    background-color: #ff6f40;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(239, 98, 52, 1);
    -moz-box-shadow: 0 2px 2px 0 rgba(239, 98, 52, 1);
    box-shadow: 0 2px 2px 0 rgba(239, 98, 52, 1);
    clear: none;
}

.yes-btn:hover, .no-btn:hover {
    margin-top: 2px;
    margin-bottom: -2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.no-btn {
    float: right;
    width: 220px;
    height: auto;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.74902) 1px 1px 2px;
    padding: 15px;
    background-color: #121212;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 1);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 1);
    clear: none;
}

.groupLinks {
    display: inline-block;
    vertical-align: middle;
    color: rgb(255, 254, 254);
}

.groupLinks a {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(255, 254, 254);
    font-style: normal;
    /*font-weight: normal;*/
    text-decoration: none;
    margin-left: 20px;
    font-weight: 300;
    font-family: HelveticaNeueCyr;
}

.groupLinks a:hover {
    color: rgb(124, 161, 179);
}

.gallery-preview {
    float: left;
    width: 47%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    margin: 0 1.45% 1.45% 1.45%;
    clear: none;
}

#box22 {
    height: auto;
    margin-left: 40%;
    width: 59%;
}

#box21 {
    float: left;
    width: 40%;
    height: auto;
}

#media-bg {
    height: 605px;
    background-image: url("img/media-bg.jpg");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-top: 20px;
    clear: both;
    *zoom: 1;
}


#textspan84 {
    float: none;
    font-size: 0.875em;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-weight: 300;
    letter-spacing: normal;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
    display:inline-block;
}

#textspan85 {
    float: none;
    font-size: 0.875em;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
    display:inline-block;
}

#textspan86 {
    float: none;
    font-size: 0.875em;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
    display:inline-block;
}

#placeholder1 {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 300;
    line-height: 1em;
    color: rgb(245, 247, 250);
    letter-spacing: normal;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 24px;
    margin-left: 7.096447%;
    clear: none;
}

.consultLinks {
    margin-top: 50px;
    font-size: 1.125em;
    text-align: center;
    font-weight: 300;
    line-height: 1em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: HelveticaNeueCyr;
    clear: none;
    margin-right: 0;
}

.subscribe-title {
    font-size: 1.7em;
    line-height: 14px;
    font-weight: bold;
}

.groups-bg {
    width: 100%;
    height: 245px;
    background: url("img/groups-bg.png") no-repeat;
    margin-top: 40px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    clear: both;
}

#arrow5 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
    margin-top: 86px;
    margin-left: -63%;
    clear: none;
    margin-right: 0;
}

#plane1 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
    margin-top: 16px;
    margin-left: 74.042027%;
    clear: none;
}

#mailme-bg1 {
    float: left;
    width: 99.947944%;
    height: 245px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
    background-image: url("img/mailme-bg.jpg");
    -webkit-background-size: 100%;
    background-size: 100%;
}

#small-btn1 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 22.843102%;
    clear: none;
    margin-right: 0;
}

#big-logo {
    width: auto;
    max-width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    margin: 12% auto;
    clear: both;
}

#video-preview {
    float: left;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    -webkit-background-size: 100%;
    background-size: 100%;
    margin: 0;
    clear: none;
}

#video-title {
    float: left;
    width: 100%;
    height: auto;
    -webkit-background-size: 100%;
    background-size: 100%;
    margin: 15px 0 10px 0;
    clear: none;
    text-align: center;
}

#video-title span {
    width: auto;
    margin: 0 auto;
    font-family: HelveticaNeueCyr;
}

#video-title-date {
    font-size: 0.875em;
    color: rgb(255, 255, 255);
    font-weight: 300;
}

#video-title-name {
    font-size: 1.125em;
    color: rgb(255, 111, 64);
    font-weight: bold;
}

#arrow4 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    z-index: 94;
    margin-top: 86px;
    margin-left: -63.416%;
    clear: none;
    margin-right: 0;
}

#small-btn2 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 50%;
    clear: none;
    margin-right: 0%;
}

.news-title {
    font-size: 1em;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-top: 31px;
}

.news-title h3 {
    float: none;
    font-size: 1.5em;
    color: rgb(18, 18, 18);
    text-decoration: none;
    font-family: HelveticaNeueCyr;
    margin-bottom: 5px;
}

.news-title h4 {
    margin: 0 auto;
    float: none;
    font-size: 0.875em;
    color: rgb(18, 18, 18);
    font-weight: 300;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
}

#subscribe {
    float: left;
    display: block;
    height: 46px;
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.439216);
}

#subscribe:after
{
    content: '';
    display: block;
    clear: both;
}

.align_center_to_left
{
    position: relative;
    right: 50%;
    float: right;
}
.align_center_to_right
{
    position: relative;
    z-index: 1;
    right: -50%;
}
#sub-nav {
    float: left;
    margin: 6px auto;
    color: rgb(255, 255, 255);
    clear: both;
    display:inline-block;
}

#sub-nav dd {
    float: left;
    display: inline;
    margin-right: 5px;
}

#sub-nav dt {
    float: left;
    display: inline;
    font-size: 0.875em;
    line-height: 1em;
    font-weight: 300;
    padding-top: 10px;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
}

#Мы_рекомендуем_2 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    color: rgb(18, 18, 18);
    font-style: normal;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
    clear: none;
    margin-right: 0;
}

#arrow3 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    margin-top: 86px;
    margin-left: -63.637654%;
    clear: none;
    margin-right: 0;
}

#plane {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
    margin-top: 16px;
    margin-left: 74.042027%;
    clear: none;
}

#mailme-bg {
    float: left;
    width: 99.947944%;
    height: 245px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
    background-image: url("img/mailme-bg.jpg");
    -webkit-background-size: 100%;
    background-size: 100%;
}

#textspan30 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(245, 247, 250);
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
}

.scroll-text {
    background: url("img/scroll.png") no-repeat left center;
    display: table-cell;
    vertical-align: middle;
    font-size: 0.875em;
    position : absolute;
    bottom : 30px;
    left : 47%;
    width: 90px;
    height: 50px;
    text-align: center;
    font-weight: 300;
    line-height: 14px;
    color: rgb(255, 255, 255);
    font-family: HelveticaNeueCyr;
    text-shadow: rgba(0, 0, 0, 0.74902) 0 1px 1px;
    clear: both;
}

#arrow2 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
    margin-top: 86px;
    margin-left: -63.416028%;
    clear: none;
    margin-right: 0%;
}

#input-border {
    float: left;
    height: 60px;
    width: 100.00056%;
    background-color: rgb(29, 38, 54);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    clear: none;
}

.groups {
    text-align: center;
    margin-top: 50px;
    clear: both;
    width: 50%;
    height: 60px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-left: 25%;
    margin-right: 25%;
}

#wishletter {
    font-size: 1em;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    text-shadow: rgba(0, 0, 0, 0.74902) 1px 1px 2px;
    margin-top: 97px;
    clear: both;
}

#textspan {
    float: none;
    font-size: 1.5em;
    line-height: 36px;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspan1 {
    float: none;
    font-size: 3em;
    line-height: 60px;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
}

#block-border5 {
    float: left;
    height: 360px;
    width: 18.92%;
    background-color: rgb(242, 242, 242);
    position: relative;
    top: 0;
    left: 0;
    z-index: 99;
    margin-top: -200.71875px;
    margin-left: 3.059141%;
    clear: none;
}

#arrow1 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
    margin-top: 86px;
    margin-left: -63.637654%;
    clear: none;
    margin-right: 0;
}

.new-title {
    float: none;
    font-size: 1.125em;
    line-height: 18px;
    color: rgb(255, 111, 64) !important;
    font-style: normal;
    font-weight: 900;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
}

.new-title:hover {
    color: rgb(124, 161, 179) !important;
}

.new-date {
    float: none;
    font-size: 0.625em;
    line-height: 18px;
    color: rgb(153, 153, 153);
    font-weight: normal;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
}

.new-content {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(18, 18, 18);
    font-weight: 300;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
}

#textspan5 {
    float: none;
    font-size: 1.5em;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
}

#big-preview-img {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover;
    width: 100%;
    height: 650px;
    display: block;
    z-index: 97;
    position: relative;
}

#small-preview-img5 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
    z-index: 104;
    margin-top: 442px;
    margin-left: -18.957566%;
    clear: none;
}

#block-border4 {
    float: left;
    height: 360px;
    width: 18.924154%;
    background-color: rgb(242, 242, 242);
    position: relative;
    top: 0;
    left: 0;
    z-index: 87;
    margin-top: 48px;
    margin-left: -18.870533%;
    clear: none;
}

#bg2 {
    float: left;
    height: 974px;
    width: 99.947944%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0;
    left: 0;
    z-index: 148;
}

.recommendedTour {
    float: left;
    width: 30%;
    max-width: 160px;
}

.recommendedLink {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    top: 0;
    left: 0;
    z-index: 119;
    margin-top: 37px;
    margin-left: 2.051461%;
    clear: both;
    margin-right: 0;
}

a.recLink {
    float: none;
    font-size: 1.125em;
    line-height: 18px;
    color: rgb(255, 111, 64);
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
}

a.recLink:hover {
    float: none;
    font-size: 1.125em;
    line-height: 18px;
    color: rgb(255, 111, 64);
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
}

.where {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(18, 18, 18);
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
}

#arrow {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
    z-index: 22;
    margin-top: 86px;
    margin-left: -63.416028%;
    clear: none;
    margin-right: 0%;
}

#textspan2 {
    float: none;
    font-size: 1.5em;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
}

#small-preview-img4 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
    z-index: 92;
    margin-top: 48px;
    margin-left: 2.552083%;
    clear: none;
}

#block-border3 {
    float: left;
    height: 360px;
    width: 18.924154%;
    background-color: rgb(242, 242, 242);
    position: relative;
    top: 0;
    left: 0;
    z-index: 168;
    margin-top: -200px;
    margin-left: 3.058328%;
    clear: none;
}

.recommendedTitle {
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    color: rgb(18, 18, 18);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
}

h1.groupTitle {
    font-size: 3em;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(18, 18, 18);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
    margin-top: 58px;
    clear: none;
}

#separator1 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
    z-index: 329;
    margin-top: 13px;
    margin-left: 3.17%;
    clear: none;
    margin-right: 0;
}

#small-preview-img3 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
    z-index: 173;
    margin-top: 442px;
    margin-left: -18.95%;
    clear: none;
}

#block-border2 {
    float: left;
    height: 360px;
    width: 18.924154%;
    background-color: rgb(242, 242, 242);
    position: relative;
    top: 0;
    left: 0;
    z-index: 156;
    margin-top: 48px;
    margin-left: -18.870533%;
    clear: none;
}

#shadowcolor1 {
    float: left;
    height: 42px;
    width: 96.815145%;
    background-color: rgb(239, 98, 52);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 192;
    margin-top: 25px;
    margin-left: -96.805696%;
    clear: none;
    margin-right: 0%;
}

#Подробнее {
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
    clear: none;
}

span.arr {
    background: url("img/arr.png") no-repeat center center;
    width: 15px;
    height: 15px;
    clear: none;
    margin: 5px;
}

.tourGroup {
    margin-left: 10%;
    margin-right: 10%;
    min-width: 800px;
    width: 80%;
}

#main-preview-image2 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
    z-index: 117;
    margin-top: 48px;
    margin-left: 24.99939%;
    clear: both;
}

#small-preview-img2 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
    z-index: 161;
    margin-top: 48px;
    margin-left: 2.552083%;
    clear: none;
}

#maincolor1 {
    float: left;
    height: 42px;
    width: 96.815145%;
    background-color: rgb(255, 111, 64);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 193;
    margin-top: 22px;
    margin-left: 0.0063004%;
    clear: both;
    margin-right: 0;
}

#block-border1 {
    float: left;
    height: 361px;
    width: 18.924154%;
    background-color: rgb(242, 242, 242);
    position: relative;
    top: 0;
    left: 0;
    z-index: 237;
    margin-top: -200.71875px;
    margin-left: 3.058328%;
    clear: none;
}

#main-block-border1 {
    float: left;
    height: 543px;
    width: 28.33252%;
    background-color: rgb(242, 242, 242);
    position: relative;
    top: 0;
    left: 0;
    z-index: 181;
    margin-top: 48px;
    margin-left: -28.332642%;
    clear: none;
}

#small-preview-img1 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
    z-index: 242;
    margin-top: 442px;
    margin-left: -18.957566%;
    clear: none;
}

#block-border {
    float: left;
    height: 360px;
    width: 18.924154%;
    background-color: rgb(242, 242, 242);
    position: relative;
    top: 0;
    left: 0;
    z-index: 225;
    margin-top: 48px;
    margin-left: -18.870533%;
    clear: none;
}

#shadowcolor {
    height: 42px;
    background-color: rgb(239, 98, 52);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: 25px;
    clear: none;
    margin-right: 0%;
}

.boldPrice {
    float: none;
    font-size: 1.5em;
    line-height: 16px;
    color: rgb(18, 18, 18);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
}

.tourDescription {
    display: block;
    font-size: 0.875em;
    font-weight: normal;
    line-height: 16px;
    color: rgb(18, 18, 18);
    font-family: HelveticaNeueCyr;
    clear: both;
}

.smallDescription {
    float: none;
    font-size: 0.875em;
    line-height: 16px;
    color: rgb(18, 18, 18);
    font-weight: normal;
    margin-top: 15px;
    font-family: HelveticaNeueCyr;
}

#main-preview-image1 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
    z-index: 186;
    margin-top: 48px;
    margin-left: 24.99939%;
    clear: both;
}

#small-preview-img {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
    z-index: 230;
    margin-top: 48px;
    margin-left: 2.552083%;
    clear: none;
}

#maincolor {
    float: left;
    height: 42px;
    width: 96.815145%;
    background-color: rgb(255, 111, 64);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 262;
    margin-top: 22px;
    margin-left: 0%;
    clear: both;
    margin-right: 0%;
}

div.tourName {
    object-fit: cover;
    font-size: 1.5em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    color: rgb(255, 111, 64);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
    clear: none;
    display: block;
}

img.groupMainPreview {
    width: 100%;
    margin: 0 auto;

}

img.groupSubPreview {
    width: 100%;
    margin: 0 auto;
}

h2.tourTitle {
    display: block;
    padding-top: 10px;
    margin: 0 0 0 15px;
    font-size: 1em;
}

#main-block-border {
    float: left;
    height: 543px;
    width: 28.33252%;
    background-color: rgb(242, 242, 242);
    position: relative;
    top: 0;
    left: 0;
    z-index: 250;
    margin-top: 48px;
    margin-left: -28.332642%;
    clear: none;
}

#main-preview-image {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
    z-index: 255;
    margin-top: 48px;
    margin-left: 24.99939%;
    clear: both;
}

#box18 {
    float: left;
    height: auto;
    margin-left: 4.483129%;
    margin-top: 217px;
    clear: none;
    width: 90.268642%;
}

#box20 {
    float: left;
    height: auto;
    margin-left: 4.483129%;
    margin-top: 217px;
    clear: none;
    width: 90.818829%;
}

#main-block-border2 {
    float: left;
    height: 543px;
    width: 28.33252%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 112;
    margin-top: 48px;
    margin-left: -28.332642%;
    clear: none;
    background-color: rgb(242, 242, 242);
}

#box16 {
    float: left;
    height: auto;
    margin-left: 3.304433%;
    margin-top: 326px;
    clear: none;
    width: 47.220946%;
}

#arr2 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
    z-index: 111;
    margin-top: 86px;
    margin-left: -27.979%;
    clear: none;
    margin-right: 0%;
}

#box17 {
    float: left;
    height: auto;
    margin-left: 2.227836%;
    margin-top: 367px;
    clear: none;
    width: 45.567295%;
}

#maincolor2 {
    float: left;
    height: 42px;
    width: 96.815145%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 124;
    margin-top: 22px;
    margin-left: 0%;
    clear: both;
    margin-right: 0%;
    background-color: rgb(255, 111, 64);
}

#shadowcolor2 {
    float: left;
    height: 42px;
    width: 96.815145%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 123;
    margin-top: 25px;
    margin-left: -96.811%;
    clear: none;
    margin-right: 0;
    background-color: rgb(239, 98, 52);
}

div.tour {
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 20px;
    background-color: #ecf0f0;
}

.news-block {
    min-width: 800px;
    max-width: 1000px;
}

.news-block article {
    float: left;
    font-size: 1em;
    width: 21%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 2%;
    clear: none;
}

.scroll {
    display: table;
    left: 0;
    right: 0;
    /*position: absolute;*/
    width: 150px;
    margin: auto;
    margin-top: 180px;
}


.wish {
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.middleHelper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

div.more {
    display: block;
    margin-top: 25px;
    padding-top: 10px;
    height: 40px;
    color: #ffffff;
    width: 100%;
    text-align: center;
    background-color: #ff6f40;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(239, 98, 52, 1);
    -moz-box-shadow: 0 2px 2px 0 rgba(239, 98, 52, 1);
    box-shadow: 0 2px 2px 0 rgba(239, 98, 52, 1);
}

a.link-btn {
    margin: 10px;
    padding: 7px;
    background-color: #ff6f40;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(239, 98, 52, 1);
    -moz-box-shadow: 0 2px 2px 0 rgba(239, 98, 52, 1);
    box-shadow: 0 2px 2px 0 rgba(239, 98, 52, 1);
}

.biglink-btn:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

a.link-btn:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

div.mainTours {
    float: left;
    height: auto;
    clear: none;
    width: 60%;
}

div.subTours {
    float: right;
    height: auto;
    clear: none;
    width: 39%;
}

div.tourInfo {
    margin-top: 15px;
    margin-left: 15px;
    display: block;
    float: left;
    width: 50%;
}

div.tourPrice {
    margin-top: 15px;
    margin-right: 15px;
    display: block;
    float: right;
    text-align: left;
    width: 40%;
}

div.recommendedTours {
    display: block;
    margin-top: 100px;
}

div.mailsender {
    width: 400px;
    height: 50px;
    /*min-height: 20px;*/
    border: 3px solid rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

input.mail-input {
    color: #ffffff;
    float: left;
    border: none;
    background: none;
    outline: none;
    -webkit-appearance: none;
    width: 255px;
    margin: 5px 0 5px 15px;
    height: 40px;
    vertical-align: middle;
}

input.mail-submit {
    margin: 7px 15px 7px 3px;
    float: right;
    width: 30px;
    height: 30px;
    border: none;
    background: url('img/plane.png') no-repeat center center;
}

form.mailform {
    margin: 30px 35% 0 35%;
}

/*
@media only screen and (min-width: 480px) {
*/
/*
    Здесь стили более разумных, но все еще мобильных устройств. Android, iPhone  и так далее.
*//*


}

@media only screen and (min-width: 768px) {

*/
/*
    Планшеты в режиме portrait.
*//*


}

@media only screen and (min-width: 992px) {

*/
/*
    Планшеты в режиме landscape, нетбуки, ноутбуки, десктоп.
*//*


}

@media only screen and (min-width: 1382px) {
*/
/*
    Десктоп с большими разрешениями, телевизоры.
*//*


}*/
