html {
    overflow-x: hidden;
}
img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}
.content{
    font-size: 30pt;
    font-weight: 300;
    line-height: 1em;
    color: #7497b2;
    font-family: "PT Sans";
    position: absolute;
    text-align: center;
    top: 65%;
    width: 100%;
    z-index: 100;
}
.day{
    font-size: 38pt;
    color: #eaeaea;
}
.kote{
    font-size: 12pt;
    margin-left: 50px;
    color: #eaeaea;
    text-decoration: underline;
}
@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}
/*.container {*/
    /*background: url(parked.jpg) no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
/*}*/
