#small-preview-img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 230px;
    display: block;
    background: url("img/top-bg.jpg") no-repeat center;
    margin-top: 100px;
}

.container, hgroup {
    margin: 0 auto;
    width: 80%;
    min-width: 930px;
    font-family: HelveticaNeueCyr;
    font-weight: 300;
}
.container {
    margin-bottom: 20px;
    margin-top: 20px;
}
hgroup {
    margin-top: 6%;
}

#small-preview-img h1 {
    font-size: 2.25em;
    line-height: 18px;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 300;
}

#small-preview-img h2 {
    font-size: 0.75em;
    line-height: 24px;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 300;
}

h3 {
    margin-top: 0;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1em;
    color: rgb(18, 18, 18);
    font-style: normal;
}

h4 {
    font-size: 1.125em;
    line-height: 36px;
    color: rgb(255, 111, 64);
    font-weight: normal;
    margin: 0;
}

.layout {
    overflow: hidden;
    margin: 3% 0 2% 0;
}
.repost {
    margin-bottom: 10px;
}
.repost img {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.social p {
    color: rgb(18, 18, 18);
    font-weight: 300;
    font-size: 1.125em;
    line-height: 30px;
}
.layout-right-column {
    float: right;
    width: 40%;
    padding: 1.5%;
    border: solid rgb(220, 220, 220) 1px;
    background-color: rgb(245, 245, 240);
    color: rgb(18, 18, 18);
}

.layout-left-column {
    float: left;
    width: 30%;
    padding: 1.5%;
    border: solid rgb(220, 220, 220) 1px;
    background-color: rgb(245, 245, 240);
    color: rgb(18, 18, 18);
}

input[type=date], input[type=number] {
    display: inline-block;
}

input[type=date] {
    width: 38.5%;
}

input[type=number] {
    width: 10%;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left: 19px;
    height: 14px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;
    cursor: pointer;
    margin-top: -2.5em;
}

.layout-main-right {
    margin-left: 33%;
    width: 67%;
}

.layout-main {
    margin-right: 43%;
    width: 57%;
    color: rgb(18, 18, 18);
    font-style: normal;
}

.personal-information, .contact-information, .agreement-and-pay {
    width: 100%;
    clear: both;
}

.tourist {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    float: left;
    margin: 3px;
}

.info {
    float: left;
    text-align: center;
    margin: 0 2% 0 0;
}

.info > input, .info > select {
    float: left;
    padding: 5px;
}

.info > label {
    display: block;
}

#name, #surname, #second-name {
    width: 33%;
}

#date-of-birth {
    width: 120px;
}

#nationality {
    width: 120px;
}

#passport {
    width: 100px;
}

#user-profile {
    float: right;
    width: 35%;
}

#user-profile > * {
    float: left;
}

table {
    width: 100%;
    text-align: center;
}

td, th {
    padding: 1%;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}

tbody {
    border: 1px solid #cccccc;
}
.button {
    padding: 0.875% 3%;
    float: left;
}
.history tr > td:first-child {
    width: 60%;
    text-align: left;
}
.request tr > td:first-child {
    width: 5%;
    text-align: center;
}
th {
    background-color: #ff6f40;
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    font-size: 1.125em;
}

#agreement label {
    border-bottom: 1px dotted #ff6f40;
    color: #ff6f40;
    margin-left: 3%;
}

#i-agree {
    float: left;
    padding: 1% 2% 0 0;
}

#change-order, #pay-order, #delete-order {
    width: 15%;
    margin: 0 1% 0 1%;
}

#change-profile, #change-password {
    width: 150px;
    margin: 3% 3% 0 0;
}

.layout-left-column > select{
    width: 96%;
    padding: 5px;
    margin: 2%;
}

.layout-left-column > input{
    display: inline;
    width: 43%;
    padding: 5px;
    margin: 2%;
}

#search {
    width: 100%;
    padding: 3%;
    margin-top: 5%;
}

.additional-nav {
    margin-top: -20px;
    text-align: center;
    padding: 1% 0;
}
.transport {
    margin-left: 25px;
}
.transport input[type=checkbox]{
    display: inline;
}

.additional-nav a, .additional-nav a:hover,
.additional-nav a:visited, .additional-nav a:focus{
    padding: 1% 3%;
    font-weight: 300;
    font-size: 1em;
    border: 1px solid #bec2c2;
    background-color: #ffffff;
    margin-left: -5px;
}

.found-tour {
    width: 250px;
    margin-right: 15px;
    float: left;
}

.found-tour h3 {
    width: 150px;
    margin-top: -60px;
    color: white;
    font-size: 1em; 
    font-weight: 300;
    position: relative;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ff6f40;
    top: 75px;
    left: -10px;
    
}
.found-tour h3:before {
    content: '';
    position: absolute;
    left: -1px; top: 26px;
    border: 6px solid transparent;	
    border-top: 6px solid rgb(255, 100, 44); 
    border-right: 6px solid rgb(255, 100, 44);
}
.found-tour h4 {
    line-height: 20px;
}