#big-preview-img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 650px;
    display: block;
    z-index: 97;
    position: relative;
    background: url("img/big-preview-img.jpg") no-repeat 50% 100%;
}

.tour-name {
    margin: 300px auto auto auto;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 2px;
    clear: both;
    float: none;
    font-size: 3em;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
}

.container {
    margin: 0 auto;
    width: 80%;
    min-width: 930px;
    font-family: HelveticaNeueCyr;
}

.short-description {
    background-color: #ffffff;
    width: 400px;
    text-align: center;
    font-family: HelveticaNeueCyr;
}

.tour-date {
    font-size: 1.57em;
    font-weight: 300;
    padding-top: 3%;
}

.tour-destination {
    font-size: 0.89em;
    font-weight: 300;
    padding-top: 3%;
    padding-bottom: 3px;
}

.bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.align_center_to_left
{
    position: relative;
    right: 50%;
    float: right;
}
.align_center_to_right
{
    position: relative;
    z-index: 1;
    right: -50%;
}

.booking {
    display: inline-block;
    padding-top: 8px;
    width: 100%;
}

.left-column {
    color: rgb(90, 90, 90);
    line-height: 1.8em;
    font-size: 0.875em;
    float: left;
    width: 60%;
    margin-top: 20px;
}

.left-column a {
    text-decoration: underline;
    color: rgb(153, 153, 153);
}

.old-price{
    text-decoration: line-through;
    font-size: 1.5em;
    line-height: 30px;
    color: rgb(153, 153, 153);
    font-weight: 300;
}

.new-price {
    font-size: 1.5em;
    line-height: 30px;
    color: rgb(255, 111, 64);
    font-weight: 300;
    padding-left: 2%;
}

.right-column {
    font-size: 0.875em;
    line-height: 14px;
    color: rgb(80, 80, 80);
    float: right;
    width: 35%;
    margin-top: 20px;
    border: solid rgb(220, 220, 220) 1px;
    background-color: rgb(245, 245, 240);
    padding: 1.5% 1%;
}

.telephone {
    line-height: 3em;
}

.right-column a {
    float: none;
    font-size: 0.75em;
    color: rgb(255, 111, 64);
    text-decoration: underline;
    font-family: HelveticaNeueCyr;
}

#description {
    font-size: 0.875em;
    width: 100%;
    text-align: center;
    font-weight: 300;
    color: rgb(153, 153, 153);
    clear: both;
    position: absolute;
    left: 0%;
}


#description p {
    border-top: 1px solid rgb(255, 111, 64);
    width: 200px;
    margin: auto;
}

.buttons {
    display: inline-block;
    width: 100%;
}

.buttons > a {
    float: right;
    margin-left: 3%;
    width: 25%;
    clear: none;
    padding: 11px 0;
}

.right-panel {
    float: right;
    width: 350px;
}

.full-description {
    color: rgb(90, 90, 90);
    margin-right: 360px;
    font-size: 0.875em;
    margin-top: 50px;
}

.guide {
    text-align: center;
    padding: 7% 5%;
    border: solid rgb(220, 220, 220) 1px;
    background-color: rgb(245, 245, 240);
}

.social {
    padding: 7% 5%;
    border: solid rgb(220, 220, 220) 1px;
    background-color: rgb(245, 245, 240);
}

.social p {
    color: rgb(18, 18, 18);
    font-weight: 300;
    font-size: 1.125em;
    line-height: 30px;
}

.social ul {
    padding: 0;
    display: inline-block;
}

.social ul li{
    float: left;
    margin-left: 25px;
    font-size: 0.75em;
    color: rgb(153, 153, 153);
}

.similar-tour a {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(255, 111, 64);
    font-style: normal;
    font-weight: 300;
    text-decoration: underline;
    display: block;
}

.tourists {
    width: 100%;
    float: left;
}

.tourist {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    float: left;
    margin: 3px;
}

h1 {
    font-size: 1.5em;
    font-weight: normal;
    color: rgb(18, 18, 18);
}

h2 {
    font-size: 1.875em;
    font-weight: normal;
    color: rgb(18, 18, 18);
}

h3 {
    font-size: 1.875em;
    color: rgb(255, 111, 64);
    font-weight: normal;
    margin: 0.75em 0 0.1em 0;
}

h4 {
    font-size: 1.125em;
    font-weight: 300;
    line-height: 1em;
    color: rgb(18, 18, 18);
    margin-top: 0;
}

.img-photo {
    border-radius: 50%;
}

.guide-photo {
    margin: 7% auto;
    height: 150px;
    width: 150px;
}

.person-name {
    font-size: 1.125em;
    color: rgb(255, 111, 64);
}

.position {
    font-size: 0.75em;
    padding-bottom: 2%;
    color: rgb(18, 18, 18);
    font-weight: 300;
}

.about-person {
    font-size: 0.75em;
    color: rgb(153, 153, 153);
}

#tour_calendar{
    display: inline;
    cursor: pointer;
}

.phone_icon:first-child{
    display: inline;
    margin-top: -3px;
}

.phone_icon:last-of-type{
    display: inline;
    margin-top: -3px;
    margin-left: 10px;
}

#reverse_call{
    font-size: 15px;
}

.destination_arrow,#people_count{
    display: inline;
}

.destination_arrow{
    margin-top: -2px;
}

#places{
    color: rgb(255, 111, 64);
}
