@{
    ViewBag.Title = "Searches";
}

@model IEnumerable<WorkWithKOTE.Models.Tour>
@using WorkWithKOTE.Code
@Scripts.Render("~/bundles/jqueryval")
@using (Ajax.BeginForm("Searches", "TourSearch", new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "target"
}))
{
   @* @Html.DropDownList("Places", DropDown.Places(), "Любое направление")*@
    <input type="text" name="Places" placeholder="Куда"/>
    @Html.DropDownList("PlaceDepartmen", DropDown.PlaceDeparture(), "Город выезда")
    
    <div id="target">
        @{Html.RenderPartial("SearchResult");}
    </div>

   @* for (int i = 0; i < 10; i++)
    {
        @Ajax.ActionLink((i + 1).ToString(), "Searches", new { pageID = i,counter = 1 }, new AjaxOptions { UpdateTargetId = "target2", InsertionMode = InsertionMode.Replace })
    }*@
  
}