@{
    ViewBag.Title = "Searches";
}

@model IEnumerable<WorkWithKOTE.Models.Tour>
@using WorkWithKOTE.Code@Styles.Render("~/Content/order")
@{ Html.RenderPartial("HeaderPartial_main");}

<style>
    .layout {
        margin-left: 11.6%;
    }

    .date-select label.hide:after {
        display: none;
    }

    .transport p {
        margin-top: 10px;
    }

    .searchBtn {
        padding: 6px;
        color: white !important;
        border-radius: 4px;
        background-color: #ff6f40;
        border: 1px solid #ff6f40;
        color: white;
        height: 30px;
        cursor: pointer;
    }

    .tourImg:hover {
        transition: 0.1s;
        box-shadow: #ccc 1px 0px 8px 2px;
    }

    .tourImg {
        transition: 0.3s;
    }

    .titleTour {
        color: #ff6f40 !important;
        font-size: 19px;
    }

    .found-tour {
        margin-top: -38px;
    }

    .open {
        margin-left: -21.2% !important;
    }

    #filter {
        display: none;
        position: fixed;
        float: right;
        text-align: right;
        left: -42px;
        cursor: pointer;
        background-color: #ff6f40;
        color: white !important;
        transition: 0.5s;
        padding-right: 15px;
        padding-left: 15px;
        margin-top: 19px;
        padding-bottom: 7px;
        padding-top: 10px;
        width: 120px;
    }

    .rotate {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }
</style>

<div id="small-preview-img" class="clearfix">
    <hgroup>
        <h1>Поиск</h1>
        <h2>
            <a href="@Url.Action("Index", "Home")">Главная</a> / <span id="currentZ">Поиск</span>
        </h2>
    </hgroup>
</div>
<div class="container">
    <div class="layout">
        @Scripts.Render("~/bundles/jqueryval")
        @using (Ajax.BeginForm("Searches", "TourSearch", new AjaxOptions()
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "target"
    }))
        {
            @* @Html.DropDownList("Places", DropDown.Places(), "Любое направление")*@

            <div id="target">
                @{Html.RenderPartial("SearchResult");}
            </div>

            @* for (int i = 0; i < 10; i++)
                {
                    @Ajax.ActionLink((i + 1).ToString(), "Searches", new { pageID = i,counter = 1 }, new AjaxOptions { UpdateTargetId = "target2", InsertionMode = InsertionMode.Replace })
                }*@

        }
    </div>
</div>