@{
    ViewBag.Title = "kote.travel - Контакты";
}
@Styles.Render("~/Content/order")

@{ Html.RenderPartial("HeaderPartial_main");}
<div id="small-preview-img" class="clearfix">
    <hgroup>
        <h1>О нас</h1>
        <h2>@Html.ActionLink("Главная", "Index", "Home", null, null) / <span id="currentZ">О нас</span> </h2>
    </hgroup>
</div>

@Styles.Render("~/Content/aboutus")
 <div class="contactsBlock">
    <span class="contactsTitle">ПРИНЦИП РАБОТЫ</span><br />
    <span class="contactsSubTitle">КАК ПУТЕШЕСТОВАТЬ ДЕШЕВЛЕ</span>

    <div class="c_FirstBlock">

        <div class="contactsImgBlock">
            <div class="imgBlock first">
                <img class="first round" src="~/Content/img/register.png" alt="way" />
                <img class="up arrow" src="~/Content/img/wayArrow.png" alt="arrow" /><br />
                <span class="forImgTitle">РЕГИСТРАЦИЯ</span><br />
                <span class="forImgUnderTitle">Получи бонус за</span><br />
                <span class="forImgUnderTitle">регистрацию</span>
            </div>

            <div class="imgBlock second">
                <img class="second round" src="~/Content/img/bonus.png" alt="way" />
                <img class="arrow down" src="~/Content/img/wayArrow.png" alt="arrow" /><br />
                <span class="forImgTitle">БОНУС</span><br />
                <span class="forImgUnderTitle">Расскажи друзьям,</span><br />
                <span class="forImgUnderTitle">что ты</span><br />
                <span class="forImgUnderTitle">котешественник и</span><br />
                <span class="forImgUnderTitle">получи бонус</span>
            </div>

            <div class="imgBlock third">
                <img class="third round" src="~/Content/img/Traveling.png" alt="way" />
                <img class="up arrow" src="~/Content/img/wayArrow.png" alt="arrow" /><br />
                <span class="forImgTitle">ПОЕЗДКА</span><br />
                <span class="forImgUnderTitle">Оплати тур и получи</span><br />
                <span class="forImgUnderTitle">бонус на следующий</span><br />
                <span class="forImgUnderTitle">тур</span>
            </div>

            <div class="imgBlock fourth">
                <img class="fourth round" src="~/Content/img/bonus.png" alt="way" /><br />
                <span class="forImgTitle">БОНУС</span><br />
                <span class="forImgUnderTitle">Репостни тур в соц.</span><br />
                <span class="forImgUnderTitle">сети и получи бонус</span>
            </div>

        </div>

        <div class="contactsText">
            <div class="textFirst">
                <span class="number">5000</span><br />
                <span class="underNumber">ТУРИСТОВ</span>
            </div>

            <div class="textSec">
                <span class="number">250</span><br />
                <span class="underNumber">ТУРОВ</span>
            </div>

            <div class="textThird">
                <span class="number">500</span><br />
                <span class="underNumber">НАПРАВЛЕНИЙ</span>
            </div>
        </div>

        <div class="partners">
            <span class="contactsTitle">ОТЗЫВЫ НАШИХ ПАРТНЕРОВ</span><br />
        </div>


    </div>
    <div class="partnersBlock">
        <div class="partnerBox first">
            <img class="partnerImg" src="~/Content/img/guy.png" alt="partner" /><br /><br />
            <span class="partnerName">Василий Антонович</span><br />
            <span class="partnerJob">директор завода "Пеппа"</span><br /><br />
            <span class="partnerDescription">Крем порадовал очень</span><br />
            <span class="partnerDescription">я думал хуже</span><br />
            <span class="partnerDescription">будет</span>
        </div>

        <div class="partnerBox">
            <img class="partnerImg" src="~/Content/img/guy.png" alt="partner" /><br /><br />
            <span class="partnerName">Василий Антонович</span><br />
            <span class="partnerJob">директор завода "Пеппа"</span><br /><br />
            <span class="partnerDescription">Крем порадовал очень</span><br />
            <span class="partnerDescription">я думал хуже</span><br />
            <span class="partnerDescription">будет</span>
        </div>

        <div class="partnerBox last">
            <img class="partnerImg" src="~/Content/img/guy.png" alt="partner" /><br /><br />
            <span class="partnerName">Василий Антонович</span><br />
            <span class="partnerJob">директор завода "Пеппа"</span><br /><br />
            <span class="partnerDescription">Крем порадовал очень</span><br />
            <span class="partnerDescription">я думал хуже</span><br />
            <span class="partnerDescription">будет</span>
        </div>
    </div>

    <div class="ourWorkers">
        <span class="contactsTitle green">НАШИ СОТРУДНИКИ</span><br />
        <div class="partnersBlock green">
            <div class="partnerBox first">
                <img class="partnerImg green" src="~/Content/img/guy.png" alt="partner" />
                <div class="social">
                    <a><img class="socImg first" src="~/Content/img/vk_contact.png" /></a>
                    <a><img class="socImg" src="~/Content/img/fb_contact.png" /></a>
                    <a><img class="socImg" src="~/Content/img/tw_contact.png" /></a>
                </div>
                <br /><br />
                <span class="partnerName green">Василий Антонович</span><br />
                <span class="partnerJob green">Мазаться кремом. Каждую секунду</span>
            </div>

            <div class="partnerBox">
                <img class="partnerImg green" src="~/Content/img/guy.png" alt="partner" /><div class="social"></div>
                <div class="social">
                    <a><img class="socImg first" src="~/Content/img/vk_contact.png" /></a>
                    <a><img class="socImg" src="~/Content/img/fb_contact.png" /></a>
                    <a><img class="socImg" src="~/Content/img/tw_contact.png" /></a>
                </div>
                <br /><br />
                <span class="partnerName green">Василий Антонович</span><br />
                <span class="partnerJob green">Мазаться кремом. Каждую секунду</span>
            </div>

            <div class="partnerBox last">
                <img class="partnerImg green" src="~/Content/img/guy.png" alt="partner" /><div class="social"></div>
                <div class="social">
                    <a><img class="socImg first" src="~/Content/img/vk_contact.png" /></a>
                    <a><img class="socImg" src="~/Content/img/fb_contact.png" /></a>
                    <a><img class="socImg" src="~/Content/img/tw_contact.png" /></a>
                </div>
                <br /><br />
                <span class="partnerName green">Василий Антонович</span><br />
                <span class="partnerJob green">Мазаться кремом. Каждую секунду</span>
            </div>
        </div>

        <div class="partnersBlock green last">
            <div class="partnerBox first">
                <img class="partnerImg green" src="~/Content/img/guy.png" alt="partner" /><div class="social"></div>
                <div class="social">
                    <a><img class="socImg first" src="~/Content/img/vk_contact.png" /></a>
                    <a><img class="socImg" src="~/Content/img/fb_contact.png" /></a>
                    <a><img class="socImg" src="~/Content/img/tw_contact.png" /></a>
                </div>
                <br /><br />
                <span class="partnerName green">Василий Антонович</span><br />
                <span class="partnerJob green">Мазаться кремом. Каждую секунду</span>
            </div>

            <div class="partnerBox">
                <img class="partnerImg green" src="~/Content/img/guy.png" alt="partner" /><div class="social"></div>
                <div class="social">
                    <a><img class="socImg first" src="~/Content/img/vk_contact.png" /></a>
                    <a><img class="socImg" src="~/Content/img/fb_contact.png" /></a>
                    <a><img class="socImg" src="~/Content/img/tw_contact.png" /></a>
                </div>
                <br /><br />
                <span class="partnerName green">Василий Антонович</span><br />
                <span class="partnerJob green">Мазаться кремом. Каждую секунду</span>
            </div>

            <div class="partnerBox last">
                <img class="partnerImg green" src="~/Content/img/guy.png" alt="partner" /><div class="social"></div>
                <div class="social">
                    <a><img class="socImg first" src="~/Content/img/vk_contact.png" /></a>
                    <a><img class="socImg" src="~/Content/img/fb_contact.png" /></a>
                    <a><img class="socImg" src="~/Content/img/tw_contact.png" /></a>
                </div>
                <br /><br />
                <span class="partnerName green">Василий Антонович</span><br />
                <span class="partnerJob green">Мазаться кремом. Каждую секунду</span>
            </div>
        </div>
    </div>

    <div class="documents">
        <span class="contactsTitle green">ДОКУМЕНТЫ</span><br />
        <div class="imgDocBlock">
            <div class="docBlock first">
                <img class="docImg" src="~/Content/img/doc.png" alt="document" /><br /><br />
                <a download="Регистрация" href="doc.png" class="downDoc">Регистрация</a>
            </div>
            <div class="docBlock">
                <img class="docImg" src="~/Content/img/doc.png" alt="document" /><br /><br />
                <a download="Регистрация" href="doc.png" class="downDoc">Регистрация</a>
            </div>
            <div class="docBlock">
                <img class="docImg" src="~/Content/img/doc.png" alt="document" /><br /><br />
                <a download="Регистрация" href="doc.png" class="downDoc">Регистрация</a>
            </div>
        </div>
    </div>
</div>

<div id="dialog">
    <img class="dialogView" src="" alt="doc" />
</div>

<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    -->
<script>
        $(function(){
            //safari fix
            $('.partnerBox.last,.textThird').css('float','right');

            $('.social').each(function(){
               $(this).css({'left':$(this).prev().offset().left,'width':$(this).prev().width()+4});
            });

            $(window).resize(function(){
                $('.social').each(function(){
                    $(this).css({'left':$(this).prev().offset().left,'width':$(this).prev().width()+4});
                });
            });

           $('.docImg').click(function(){
              var _this = $(this);
               $('#dialog').dialog({
                   'modal':true,
                   'title': _this.parent().find('.downDoc').attr('download'),
                   'resizable': false,
                   'draggable': false,
                   show: {
                       effect: 'fade',
                       duration : 270
                   },
                   hide: {
                       effect: 'fade',
                       duration : 270
                   }
               });
               $('.dialogView').attr('src',_this.parent().find('.downDoc').attr('href'));
               $('#dialog').dialog({close:function(){$('.dialogView').attr('src','')}});
           });
        });

</script>