@{
    ViewBag.Title = "Contact";
}
@Styles.Render("~/Content/order")

<style>

    #blockPhones,#blockSocial,.main{
        margin-left : 35px;
        margin-top  : 10px;
        margin-bottom : 10px;
    }

    #introBlock{
        margin-top : 20px;
        text-align : center;
    }

    #mainBlock{
        margin-top : 20px;
        text-align : left;
    }

    .phones,.social{
        display : block;
        margin : 5px;
    }

    .social{
        font-size : 20px;
    }

    .kote{
        color : #ff6f40;
    }

    #preKote{
         font-size : 19px;
    }

    #yearsOld,#suggest{
        text-decoration : underline;
        font-weight : 500;
    }

    #intro{
        font-size : 17px;
    }

    #suggest{
        font-size : 19px;
    }

    .subMain{
        margin-left : 13px;
    }

    .photoDoc{
        width : 300px;
        height : 400px;
    }

    .dogovor{
        font-size : 18px;
        display : block;
    }

    #downloads,#photoDoc,#ourContacts{
        margin-left : 48px;
    }

    .photoDoc{
        display : inline;
    }

    #contacted{
        text-decoration:underline;
        margin-left : 10px;
        margin-top : 30px;
        padding-top : 20px;
    }

    #ourContacts{
        width : 80%;
        box-shadow: 1px 1px 2px 1px #ccc;
    }

    #call,#office{
        margin-left : 35px;
    }

</style>

@{ Html.RenderPartial("HeaderPartial_main");}

<div id="small-preview-img" class="clearfix">
    <hgroup>
        <h1>О нас</h1>
        <h2>@Html.ActionLink("Главная", "Index", "Home", null, null) / О нас </h2>
    </hgroup>
</div>


 <div id="introBlock">
   <span id="intro">
     <span class="kote"> Туроператор «КОТЕ» </span> - украинский оператор ведет свою деятельность <span id="yearsOld">4й год</span>!
        Мы предлагаем наши авторские туры и качественные услуги в сфере туризма.
         <br /><span id="preKote"><span class="kote">kote.travel</span> - это уникальный в своем роде сервис покупки путешествий!</span>
   </span><br/><br/>

     <div>
         У нас вы точно найдете только лучшие туры, походы, фестивали, экспедиции по Украине и всему миру!<br/>
          Ведь над работой сервиса трудятся профессионалы сферы туризма <br/>
           (ученые, путешественники, турменеджеры, гиды, ИТ специалисты)<br/><br/>
            <span id="suggest"> Мы предлагаем только самое интересное и уникальное : </span>
     </div>
 </div>

<div id="mainBlock">
    <div class="main">
      <h4>Личный кабинет туриста - это особенность нашего сервиса</h4>
        <div class="subMain">
          <ul>
             <li>При желании вы можете сэкономить при оплате вашего отдыха, 
                 мы разработали систему бонусных накоплений и поощрений для наших постоянных туристов!</li>

             <li>Путешествуешь больше - платишь меньше, закон по которому <span class="kote">КОТЭшествуют</span></li>

             <li>Пользование личным кабинетом откроет перед вами много новых способов начать путешествовать, 
                 пускай даже с минимальным бюджетом!
             </li>
           </ul>  
         </div>
    </div>

    <div class="main">
      <h4>Мир настолько многообразен, интересен и так быстро меняется!</h4>
        <div class="subMain">
          <ul>
            <li>Познавательные статьи и новости в сфере туризма помогут вам быть в курсе событий и тенденций в мире тревел!</li>
            <li>Выбор и приобретение туров теперь станет куда проще!</li>
            <li>Решится на путешествие теперь можно не выходя из дому, оплатив <span class="kote">любой банковской картой</span> любой тур или услугу на нашем сервисе!</li>
            <li>Причем некоторые туры можно будет оплачивать по частям, это поможет рассчитать свой бюджет и заранее отважится на путешествие!</li>
          </ul>
        </div>
    </div>
</div>

<div id="downloads">
    <ul>
        <li>
   <span class="dogovor"> Cкачать <a href="~/UpLoad/Documents/nadannya_poslug.doc"> Договор с туристом </a></span></li>
   <li><span class="dogovor"> Cкачать <a href="~/UpLoad/Documents/agentsky_KOTE.doc"> Агентский договор </a></span></li>
        </ul>
</div>

<div id="photoDoc">
    <img class="photoDoc" src="~/UpLoad/Documents/1.jpg" />
    <img class="photoDoc" src="~/UpLoad/Documents/2.jpg" />
    <img class="photoDoc" src="~/UpLoad/Documents/3.jpg" />
    <img class="photoDoc" src="~/UpLoad/Documents/4.jpg" />
</div><br/><br/>

<div id="ourContacts">
  <h3 id="contacted"> Наши контакты </h3>
  <div>
      <span id="office">Центральный офис: Украина, г. Днепропетровск, ул. Глинки 15/26</span>
  </div>

  <div id="blockPhones">
      <span class="phones">+38 097-815-68-38</span>
      <span class="phones">+38 050-774-99-18</span>
      <span class="phones">+38 063-796-25-00</span>
  </div>

  <div id="blockSocial">
      <span class="social">kote.travel@gmail.com</span>
      <span class="social">Skype:kote.travel</span>
  </div>
    <h4 id="call">Мы всегда на связи с Вами! Удобный онлайн-чат и телефон свяжут вас напрямую с нашей командой менеджеров!</h4>
</div>


<br /><br />
