@model IEnumerable<WorkWithKOTE.Models.DateTour>

<div class="date-select mini">
    <label style="margin-left: -23px;">
        <select id="selectDate">
            @foreach (var item in Model)
            {
                <option>
                    @Html.DisplayFor(m => item.FirstDate) - @Html.DisplayFor(m => item.SecondDate)
                </option>
            }
            </select>
        </label>
</div>
           