@model IEnumerable<WorkWithKOTE.Models.DateTour>

@foreach (var item in Model)
{
    <p style="font-size:14px;">
        Дата:&nbsp;@Html.DisplayFor(m => item.FirstDate)&nbsp;-&nbsp;@Html.DisplayFor(m => item.SecondDate)
    </p>
} 