@model IEnumerable<WorkWithKOTE.Models.News>
<div class="news clearfix">
    <div class="align_center_to_left">
        <div class="align_center_to_right">
            <div class="news-title">
                <h3>Новости</h3>
                <h4>будь в курсе всех событий</h4>
            </div>
            <div class="news-block clearfix">
                @foreach (var item in Model)
                {
                 <article>
                    <a href="@Url.Action("NewsBlock","News")" class="new-title">@Html.DisplayFor(m=>item.NewsTitle)<br /></a>
                    <span class="new-date">@Html.DisplayFor(m=>item.NewsDate)<br /></span>
                    <span class="new-content"@Html.Raw(item.NewsBody)></span>
                </article> 
                }
            </div>
        </div>
    </div>
</div>