 <script src="//code.jquery.com/jquery-1.10.2.js"></script>
 <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<style>
    #searchForm{
        width: 71.5%;
        min-height : 100px;
        margin-left : 16%;
        background : #434a54;
        position : absolute;
        bottom : 41px;
        text-align : left;
    }

    #searchForm input{
        display : inline-block;
        margin-top : 30px;
        margin-left : 10px;
    }

    /*input[type="date"]:before {
        content: attr(placeholder) !important;
    }
    */

    #minPrice,#maxPrice{
        display : none !important;
    }

    #where{
        width : 48%;
        height : 40px;
	    background: #656d78;
	    color: #e6e9ed;
        line-height : 17px;
	    font-size: 16px;
	    border: 1px solid #3e4753;
	    border-radius: 6px;
        padding-left : 15px;
    }

    #when{
        width : 48.3%;
        height : 40px;
	    background: #656d78;
	    color: #e6e9ed;
        line-height : 14px;
	    font-size: 16px;
	    border: 1px solid #3e4753;
	    border-radius: 6px;
        padding-left : 15px;
    }

    #showPrice{
        width : 153px;
        height : 40px;
	    background: #656d78;
	    color: #e6e9ed;
        line-height : 14px;
	    font-size: 16px;
	    border: 1px solid #3e4753;
	    border-radius: 6px;
        padding-left : 15px;
    }

    #slider-range{
      width : 62%;
      display : inline-block;
      margin-left : 9px;
      margin-top : 30px;
    }

    #searchBtn{
        width : 160px;
        height : 38px;
        font-family : Helvetica-Medium;
        font-size : 16px;
        border : none;
        line-height : 14px;
	    background : #ff6f40;
	    box-shadow : 0px 2px 0px #d45227; 
        border-radius: 6px;
        color : #e6e9ed;
        margin-bottom : 20px;
    }

    .ui-widget-content{
        background : #656d78 !important;
        height : 8px;
        border : 1px solid #656d78;
    }

    .ui-slider-range.ui-widget-header.ui-corner-all{
        background : #ff6f40 !important;
    }

    .ui-slider-handle.ui-state-default.ui-corner-all{
      background : #ff6f40 !important;
      height: 21px;
      border : 4px solid #e85f31;
      margin-top: -6px;
      border-radius: 50%;
      box-shadow : 0px 0px 5px rgba(0,0,0,0.35);
    }

    .ui-slider-handle.ui-state-default.ui-corner-all:focus,
    #searchForm input 
    {
        outline : none;
    }

    #search_label{
        width : 190px;
        height : 40px;
        border-radius : 6px;
	    background: #434a54;
        font-size : 16px;
        line-height : 14px;
        font-family : Helvetica-Roman;
        color: #e6e9ed;
        position: absolute;
        bottom: 196px;
        padding-top: 10px;
        padding-right : 20px;
        margin-left: 16%;
    }

    #label_img{
      width: 20px;
      height: 20px;
      float: left;
      margin-left: 20px;
      margin-top: -2px;
    }

</style>

<div id="search_label">
    <img id="label_img" src="/Content/img/Searching.png"  alt="search"/>
    Быстрый поиск
</div>

<form id="searchForm" action="@Url.Action("Searches","TourSearch")" method="post" enctype="multipart/form-data">
    @* @Html.DropDownList("Places", DropDown.Places(), "Любое направление")*@
    <input id="where" type="text" name="Places" placeholder="Куда" />
    <input id="when" type="date"  name="DateFirst" placeholder="Когда" /><br/>

    <div id="slider-range"></div>
    <input type="text" id="showPrice" value="1000 - 3000" readonly />
    <input id="minPrice" type="text"  value="1000" name="MinValue" />
    <input id="maxPrice" type="text"  value="3000" name="MaxValue" />
     
    <input id="searchBtn" type="submit" value="Искать" />
</form>

<script>
    $(function () {
        $( "#slider-range" ).slider({
            range: true,
            step: 1000,
            min: 0,
            max: 30000,
            values: [1000, 3000],
            slide: function( event, ui ) {
                     $("#showPrice").val(ui.values[0] +" - " + ui.values[1]);
                     $('#minPrice').val(ui.values[0]);
                     $('#maxPrice').val(ui.values[1]);
                   }
        });
    });
</script>